## Librairies

In [24]:
import pandas as pd
import matplotlib.pyplot as plt

## Sampling the datas

In [25]:

dataset_details = pd.read_csv("./details.csv")
dataset_details_sample = dataset_details.head(10)
dataset_rates = pd.read_csv("./ratings.csv")
dataset_rates_sample = dataset_rates.head(10)

dataset_details_sample = dataset_details_sample.rename(columns={"num": "id_category"})
dataset_rates_sample = dataset_rates_sample.rename(columns={"num": "id_rate"})



result = pd.concat([dataset_details_sample, dataset_rates_sample], axis=1)

# Nettoyage des colonnes dupliquées éventuelles
result = result.loc[:, ~result.columns.duplicated()]

## SQL script generation  - insert into

In [26]:
def escape_sql_string(value):
    """
    Échappe les apostrophes et nettoie les sauts de ligne pour éviter les erreurs SQL.
    """
    if value is None or str(value).lower() == 'nan':
        return 'NULL'
    return "'" + str(value).replace("'", "''").replace("\n", " ").replace("\r", "") + "'"

#### Games

In [27]:
with open("../SQL_scripts/insert_games.sql", "w") as f:
    f.write("INSERT INTO Games (id_game, name_game, year_game, url, thumbnail, description, boardgamemechanic, boardgamefamily, boardgameexpansion, boardgameimplementation, boardgamepublisher, boardgameartist, boardgamedesigner, id_rules) VALUES\n")
    
    id_rules = 0
    rows = []
    
    for index, row in result.iterrows():   
        line = "(" + \
               str(row["id"]) + ", " + \
               escape_sql_string(row["primary"]) + ", " + \
               str(row["yearpublished"]) + ", " + \
               escape_sql_string(row["url"]) + ", " + \
               escape_sql_string(row["thumbnail"]) + ", " + \
               escape_sql_string(row["description"]) + ", " + \
               escape_sql_string(row["boardgamemechanic"]) + ", " + \
               escape_sql_string(row["boardgamefamily"]) + ", " + \
               escape_sql_string(row["boardgameexpansion"]) + ", " + \
               escape_sql_string(row["boardgameimplementation"]) + ", " + \
               escape_sql_string(row["boardgamepublisher"]) + ", " + \
               escape_sql_string(row["boardgameartist"]) + ", " + \
               escape_sql_string(row["boardgamedesigner"]) + ", " + \
               str(id_rules) + ")"
        rows.append(line)
        id_rules += 1

    f.write(",\n".join(rows) + ";\n")

In [28]:
""""result = result.loc[:, ~result.columns.duplicated()]

with open("../SQL_scripts/insert_games.sql", "w") as f:
    f.write("INSERT INTO Games (id_game, name_game, year_game, url, thumbnail, description, boardgamemechanic, boardgamefamily, boardgameexpansion, boardgameimplementation, boardgamepublisher, boardgameartist, boardgamedesigner, id_rules,) VALUES")
    id_rules = 0
    for index, row in result.iterrows():   
        print(type(row['id']))
        print(row['id'])
        f.write("(" + str(row["id"]) + ", " + str(row["primary"]) + ", " + str(row["yearpublished"]) + ", " + str(row["url"]) + ", "+ str(row["thumbnail"]) + ", " + str(row["description"]) + ", " + str(row["boardgamemechanic"]) + ", "+ str(row["boardgamefamily"]) + ", " + str(row["boardgameexpansion"]) + ", " + str(row["boardgameimplementation"]) + "," + str(row["boardgamepublisher"]) + ", " + str(row["boardgameartist"]) + ", " + str(row["boardgamedesigner"]) + ", " + str(id_rules)+ "),\n")
        id_rules +=1
    f.write(";")
f.close()"""

'"result = result.loc[:, ~result.columns.duplicated()]\n\nwith open("../SQL_scripts/insert_games.sql", "w") as f:\n    f.write("INSERT INTO Games (id_game, name_game, year_game, url, thumbnail, description, boardgamemechanic, boardgamefamily, boardgameexpansion, boardgameimplementation, boardgamepublisher, boardgameartist, boardgamedesigner, id_rules,) VALUES")\n    id_rules = 0\n    for index, row in result.iterrows():   \n        print(type(row[\'id\']))\n        print(row[\'id\'])\n        f.write("(" + str(row["id"]) + ", " + str(row["primary"]) + ", " + str(row["yearpublished"]) + ", " + str(row["url"]) + ", "+ str(row["thumbnail"]) + ", " + str(row["description"]) + ", " + str(row["boardgamemechanic"]) + ", "+ str(row["boardgamefamily"]) + ", " + str(row["boardgameexpansion"]) + ", " + str(row["boardgameimplementation"]) + "," + str(row["boardgamepublisher"]) + ", " + str(row["boardgameartist"]) + ", " + str(row["boardgamedesigner"]) + ", " + str(id_rules)+ "),\n")\n        id_rules +=1\n    f.write(";")\nf.close()'

#### Rules

In [29]:
with open("../SQL_scripts/insert_rules.sql", "w") as f:
    f.write("INSERT INTO Rules (id_rules, minplayers, maxplayers, minplaytime, maxplaytime, minage) VALUES\n")
    
    id_rules = 0
    rows = []
    
    for index, row in result.iterrows():   
        line = "(" + \
               str(id_rules) + ", " + \
               str(row["minplayers"]) + ", " + \
               str(row["maxplayers"]) + ", " + \
               str(row["minplaytime"]) + ", " + \
               str(row["maxplaytime"]) + ", " + \
               str(row["minage"]) + ")"
        rows.append(line)
        id_rules += 1

    f.write(",\n".join(rows) + ";\n")

#### Rates

In [30]:
with open("../SQL_scripts/insert_rates.sql", "w") as f:
    f.write("INSERT INTO Rates (id_game, id_rate, rank, average, users_rated) VALUES\n")
    
    id_rules = 0
    rows = []
    
    for index, row in result.iterrows():   
        line = "(" + \
               str(row["id"]) + ", " + \
               str(row["id_rate"]) + ", " + \
               str(row["rank"]) + ", " + \
               str(row["average"]) + ", " + \
               str(row["users_rated"]) + ")"
        rows.append(line)
        id_rules += 1

    f.write(",\n".join(rows) + ";\n")

#### Categories

In [31]:
import ast

dict_category = {} # category : id
id_category = 0
for index, row in result.iterrows():
    temp_category = ast.literal_eval(row["boardgamecategory"])
    #print(temp_category)
    for cat in temp_category : 
        if (not(cat in dict_category)) :
            dict_category[cat] = id_category
            id_category+=1

In [32]:
with open("../SQL_scripts/insert_categories.sql", "w") as f:
    f.write("INSERT INTO Categories (id_category, category) VALUES\n")
    
    rows = []
 
    for val, id in dict_category.items():   
        line = "(" + str(id) +", '"+ str(val)+ "' )"
        rows.append(line)

    f.write(",\n".join(rows) + ";\n")

In [33]:
with open("../SQL_scripts/insert_belongs.sql", "w") as f:
    f.write("INSERT INTO Belongs (id_category, id_game) VALUES\n")
    
    rows = []
    
    for index, row in result.iterrows():
        temp_category = ast.literal_eval(row["boardgamecategory"])
        for cat in temp_category : 
            line = "(" + str(row["id"]) + ", " + str(dict_category[cat])+ ")"
            rows.append(line)
    f.write(",\n".join(rows) + ";\n")

## Saving

In [34]:
# To csv
dataset_details_sample.to_csv("../Datasets/details_shorten_5k.csv", index=False)
dataset_rates_sample.to_csv("../Datasets/ratings_shorten_5k.csv", index=False)